.App {
  display: flex;
  text-align: center;
  width:100%;
  background-color: #282c34;
  color: white;
}

.imagen{
  margin: 2%;
  width:100%;
  background-color: #282c34;
}
.App-logo{
  width:100%;
}
.bioclass{
  text-align: left;
}

.skills{
  display:flex;
  margin: auto;
  }
.logoStyle{
  width:5rem;
  height:5rem;
  background-color: #282c34;
}
