.App {
  display: flex;
  text-align: center;
  width:100%;
  background-color: #282c34;
  color: white;
  margin:0;
}
.Aside{
  margin:0;
}
.imagen{
  margin: 2%;
  width:100%;
  background-color: #282c34;
}
.App-logo{
  width:100%;
}
.netbutton{
  margin:5%;
  width:5rem;
}
.bioclass{
  text-align: left;
}

.skills{
  display:flex;
  margin: auto;
}
.container, li {
  display:inline;
}  
.logoStyle{
  width:5rem;
  height:5rem;
  margin:1%;
  background-color: #282c34;
}
